<!DOCTYPE html>
<html>
<head>
    <title>Página de Pagamento</title>
</head>
<body>
    <h1>Resumo de Pagamento</h1>
    <p>Carro Alugado: {{ carro.marca }}</p>
    <p>Data de Início do Aluguel: {{ carro.data_inicio }}</p>
    <p>Data de Fim do Aluguel: {{ carro.data_fim }}</p>
    <p>Preço a Pagar: ${{ preco_total }}</p>

    <h2>Preencha seus dados de Cliente</h2>
    <form action="{{ url_for('pagamento') }}" method="post">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" required><br>

        <label for="morada">Morada:</label>
        <input type="text" name="morada" id="morada" required><br>

        <label for="meio_pagamento">Meio de Pagamento:</label>
        <input type="text" name="meio_pagamento" id="meio_pagamento" required><br>

        <button type="submit">Processar Pagamento</button>
    </form>
</body>
</html>

